$action-size: 25px;
$tile-size: 40px;

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $tile-size;
  height: $tile-size;
  background-color: beige;
  border: solid 1px;
}

.hit {
  background-color: red;
}

.miss {
  background-color: white;
}

.ship {
  background-color: gray;
}